<div
    class="flex min-w-0 flex-auto flex-col items-center sm:flex-row sm:justify-center md:items-start md:justify-start"
>
    <div
        class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow md:flex md:h-full md:w-1/2 md:items-center md:justify-end md:rounded-none md:p-16 md:shadow-none"
    >
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
            <!-- Logo -->
            <div class="w-12">
                <img src="images/logo/logo.svg" />
            </div>

            <!-- Title -->
            <div
                class="mt-8 text-4xl font-extrabold leading-tight tracking-tight"
            >
                {{ 'signup' | transloco }}
            </div>
            <div class="mt-0.5 mb-8 flex items-baseline font-medium">
                <div>{{ 'already-have-an-account' | transloco }}</div>
                <a
                    class="ms-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']"
                >
                    {{ 'signin' |  transloco }}
                </a>
            </div>

            <!-- Alert -->
            @if (showAlert) {
                <p-message [severity]="alert.type">
                    {{ alert.message | transloco }}
                </p-message>
            }

            <!-- Sign Up form -->
            <form class="mt-8 flex flex-col gap-4 " [formGroup]="signUpForm">

                <!-- Name field -->
                <div class="flex flex-col gap-1 ">
                    <p-icon-field>
                        <p-inputicon styleClass="fa-duotone fa-regular fa-user" />
                        <input class="w-full" pInputText size="large" formControlName="name"
                               placeholder="{{'name'|transloco}}" />
                    </p-icon-field>

                    @if (nameIsInvalid) {
                        <p-message severity="error" variant="simple" size="small">
                            {{ 'invalid-name' | transloco }}
                        </p-message>
                    }
                </div>

                <!-- Email field -->
                <div class="flex flex-col gap-1  ">
                    <p-icon-field>
                        <p-inputicon styleClass="fa-duotone fa-regular fa-mail-bulk" />
                        <input class="w-full" pInputText size="large" formControlName="email"
                               placeholder="{{'email'|transloco}}" />
                    </p-icon-field>
                    @if (emailIsInvalid) {
                        <p-message severity="error" variant="simple" size="small">{{ 'invalid-email' | transloco }}
                        </p-message>
                    }
                </div>

                <!-- Password field -->
                <div class="flex flex-col gap-1">
                    <p-icon-field>
                        <p-inputicon styleClass="fa-duotone fa-regular fa-lock" />
                        <input type="password" class="w-full" pInputText size="large" formControlName="password"
                               placeholder="{{'password' | transloco}}" />

                    </p-icon-field>
                    @if (passwordIsInvalid) {
                        <p-message severity="error" variant="simple"
                                   size="small">{{ 'invalid-password' | transloco }}
                        </p-message>
                    }
                </div>

                <!-- Confirm Password field -->
                <div class="flex flex-col gap-1 ">
                    <p-icon-field>
                        <p-inputicon styleClass="fa-duotone fa-regular fa-lock" />
                        <input type="password" class="w-full" pInputText size="large" formControlName="confirmPassword"
                               placeholder="{{'confirm-password' | transloco}}" />

                    </p-icon-field>
                    @if (confirmPassword.errors?.['passwordMismatch']) {
                        <p-message severity="error" variant="simple"
                                   size="small">{{ 'confirm-password-match-error' | transloco }}
                        </p-message>
                    }


                </div>


                <!-- Actions -->
                <div class="my-4 inline-flex w-full items-center justify-between">
                    <div class="flex items-center gap-2">
                        <p-checkbox
                            inputId="agreement"
                            [formControlName]="'agreements'"
                            binary="true"></p-checkbox>
                        <label for="agreement" class="ms-2">{{ 'accept-agreements'|transloco }}</label>
                    </div>
                </div>

                <!-- Submit button -->
                <p-button
                    styleClass="w-full"
                    [disabled]="signUpForm.disabled || signUpForm.invalid "
                    (click)="signUp()"
                >
                    <span> {{ 'signup' | transloco }} </span>

                </p-button>

                <!-- Separator -->
                <!--                <div class="mt-8 flex items-center">-->
                <!--                    <div class="mt-px flex-auto border-t"></div>-->
                <!--                    <div class="text-secondary mx-2">Or continue with</div>-->
                <!--                    <div class="mt-px flex-auto border-t"></div>-->
                <!--                </div>-->

                <!-- Single sign-on buttons -->
                <!--                <div class="mt-8 flex items-center gap-4">-->
                <!--                    <button class="flex-auto" type="button" mat-stroked-button>-->
                <!--                        <mat-icon-->
                <!--                            class="icon-size-5"-->
                <!--                            [svgIcon]="'feather:facebook'"-->
                <!--                        ></mat-icon>-->
                <!--                    </button>-->
                <!--                    <button class="flex-auto" type="button" mat-stroked-button>-->
                <!--                        <mat-icon-->
                <!--                            class="icon-size-5"-->
                <!--                            [svgIcon]="'feather:twitter'"-->
                <!--                        ></mat-icon>-->
                <!--                    </button>-->
                <!--                    <button class="flex-auto" type="button" mat-stroked-button>-->
                <!--                        <mat-icon-->
                <!--                            class="icon-size-5"-->
                <!--                            [svgIcon]="'feather:github'"-->
                <!--                        ></mat-icon>-->
                <!--                    </button>-->
                <!--                </div>-->
            </form>
        </div>
    </div>
    <div
        class="relative hidden h-full w-1/2 flex-auto items-center justify-center overflow-hidden bg-gray-800 p-16 dark:border-l md:flex lg:px-28">
        <auth-base-part></auth-base-part>
    </div>
</div>
