<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation
    class="bg-slate-50 dark:bg-slate-900 print:hidden"
    mode="side"
    [name]="'mainNavigation'"
    [position]="
        document.documentElement.getAttribute('dir') == 'rtl' ? 'right' : 'left'
    "
    [navigation]="navigation.default"
>
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex w-full  p-4">
            <!-- Logo -->
            <div class="flex items-center justify-start gap-4">
                <img class="w-8" src="images/logo/logo.svg" />
                <h1 class="font-bold text-3xl text-primary">
                    سامانه روان یار
                </h1>
            </div>


        </div>
    </ng-container>
    <!--     Navigation footer hook -->
    <!--    <ng-container fuseVerticalNavigationContentFooter>-->
    <!--        <div-->
    <!--            class="mb-4 mt-2  flex h-16 flex-0items-center justify-center ps-2 ps-6 "-->
    <!--        >-->
    <!--            <img class="max-w-36" src="images/logo/logo-text-on-dark.svg" />-->
    <!--        </div>-->
    <!--    </ng-container>-->
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex w-full min-w-0 flex-auto flex-col">
    <!-- Header -->
    <p-menubar>
        <ng-template #start>
            <div
                class="flex w-full items-center justify-between gap-1 sm:gap-2"
            >
                <p-button
                    icon="fa-regular fa-light fa-bars-staggered"
                    severity="primary"
                    variant="outlined"
                    size="small"
                    (click)="toggleNavigation('mainNavigation')"
                >
                </p-button>
                <languages></languages>
                <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
                <notifications></notifications>
                <user></user>
                <scheme></scheme>

            </div>
        </ng-template>
        <ng-template #end>
            <quick-chat class="hidden lg:block"></quick-chat>
        </ng-template>
    </p-menubar>

    <!-- Content -->
    <div class="flex flex-auto flex-col">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        @if (true) {
            <router-outlet></router-outlet>
        }
    </div>
</div>
