<p-drawer #drawerRef
          [(visible)]="opened"
          [position]=" htmlTag.getAttribute('dir')=='rtl' ? 'left' : 'right' "
          styleClass="!w-full md:!w-90 lg:!w-128 ">

    <ng-template #headless>
        <div class="flex flex-col h-full">

            <!-- Start Header-->
            <div class="flex items-center justify-between p-3 shrink-0 drawer-header">
                @if (opened && selectedChat) {
                    <div class="gap-2 flex items-center ">
                        <div
                            class=" flex h-10 w-10 flex-0 items-center justify-center"
                        >
                            @if (chat.contact.avatar) {
                                <img
                                    class="h-full w-full rounded-full object-cover"
                                    [src]="chat.contact.avatar"
                                    alt="Contact avatar"
                                />
                            }
                            @if (!chat.contact.avatar) {
                                <div
                                    class="flex h-full w-full items-center justify-center rounded-full bg-gray-200 text-lg uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                >
                                    {{ chat.contact.name.charAt(0) }}
                                </div>
                            }
                        </div>
                        <div class=" truncate text-lg font-medium leading-5">
                            {{ chat.contact.name }}
                        </div>
                    </div>
                }
                <span>
                    <p-button type="button" (click)="closeCallback($event)" icon="fa-solid fa-times" [rounded]="true"
                              outlined="true" styleClass="h-8 w-8"></p-button>
                </span>
            </div>
            <!-- End Header-->


            <!--Start Content-->
            <div class="overflow-y-auto flex ">
                <!-- Chat list -->
                <div
                    class=" w-16 h-full flex-0  overflow-hidden overscroll-auto"
                    fuseScrollbar
                    [fuseScrollbarOptions]="{ wheelPropagation: false }"
                >
                    <div class="flex-auto">
                        @for (chat of chats; track trackByFn($index, chat)) {
                            <div
                                [ngClass]="{'bg-primary-500 hover:bg-primary-500 dark:hover:bg-primary-500 ':selectedChat && selectedChat.id === chat.id}"
                                class="flex duration-200  cursor-pointer items-center px-4 py-3 hover:bg-surface-200 dark:hover:bg-slate-700"
                                (click)="selectChat(chat.id)">

                                <div class="relative flex">
                                    @if (chat.contact.avatar) {
                                        <p-avatar
                                            class="p-overlay-badge"
                                            [image]="chat.contact.avatar"
                                            shape="circle"
                                        ></p-avatar>
                                    } @else {
                                        <p-avatar
                                            class="p-overlay-badge"
                                            [label]="chat.contact.name.charAt(0)"
                                            shape="circle"
                                        ></p-avatar>
                                    }
                                    @if (chat.unreadCount > 0) {

                                        <div
                                            class="absolute top-0 inline-flex end-0 w-2 h-2 animate-ping rounded-full bg-red-500"></div>
                                    }
                                </div>

                            </div>
                        }
                    </div>
                </div>

                <!-- Conversation -->
                <div
                    class="flex flex-1 overflow-hidden  bg-slate-100 dark:bg-slate-700"
                >
                    @if (chat) {
                        <div
                            class="flex flex-col h-full overflow-hidden overscroll-auto"
                            fuseScrollbar
                            [fuseScrollbarOptions]="{ wheelPropagation: false }"
                        >
                            <div class="flex flex-auto shrink flex-col p-6">
                                @for (message of chat.messages;
                                    track trackByFn(i, message);
                                    let i = $index;
                                    let first = $first;
                                    let last = $last) {
                                    <!-- Start of the day -->
                                    @if (first ||
                                    (chat.messages[i - 1].createdAt
                                        | date: 'd') !==
                                    (message.createdAt | date: 'd')) {
                                        <div
                                            class="-mx-6 my-3 flex items-center justify-center"
                                        >
                                            <div class="flex-auto border-b"></div>
                                            <div
                                                class="text-secondary mx-4 flex-0 text-sm font-medium leading-5"
                                            >
                                                {{
                                                    message.createdAt
                                                        | date: 'longDate'
                                                }}
                                            </div>
                                            <div class="flex-auto border-b"></div>
                                        </div>
                                    }
                                    <div
                                        class="flex flex-col"
                                        [ngClass]="{
                                        'items-start': message.isMine,
                                        'items-end': !message.isMine,
                                        'mt-0.5':
                                            i > 0 &&
                                            chat.messages[i - 1].isMine ===
                                                message.isMine,
                                        'mt-3':
                                            i > 0 &&
                                            chat.messages[i - 1].isMine !==
                                                message.isMine,
                                    }"
                                    >
                                        <!-- Bubble -->
                                        <div
                                            class="relative max-w-3/4 rounded-t-xl px-3 py-2"
                                            [ngClass]="{
                                            'bg-blue-500 text-blue-50 rounded-e-xl': message.isMine,
                                            'bg-gray-500 text-gray-50 rounded-s-xl': !message.isMine,
                                        }">

                                            <!-- Message -->
                                            <div
                                                class="min-w-4 leading-5"
                                                [innerHTML]="message.value"
                                            ></div>
                                        </div>
                                        <!-- Time -->
                                        @if (first ||
                                        last ||
                                        chat.messages[i + 1].isMine !==
                                        message.isMine ||
                                        chat.messages[i + 1].createdAt !==
                                        message.createdAt) {
                                            <div
                                                class="text-secondary my-0.5 text-sm font-medium"
                                                [ngClass]="{
                                                'ms-3': message.isMine,
                                                'me-3': !message.isMine,
                                            }"
                                            >
                                                {{
                                                    message.createdAt
                                                        | date: 'HH:mm'
                                                }}
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>

                    } @else {
                        <div
                            class="flex h-full w-full flex-auto flex-col text-surface-500 dark:text-surface-400 items-center justify-center p-4"
                        >
                            <i class="fa-duotone fa-thin fa-messages icon-size-24"></i>
                            <div
                                class="text-secondary mt-4 text-center text-xl font-medium tracking-tight"
                            >
                                {{ "select-conversation"|transloco }}
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!--End Content-->


            <!-- Start Footer-->
            <div class="flex items-center p-3 mt-auto drawer-footer gap-2 justify-between"
            >
                <input class="flex-1" pInputText #messageInput type="text" pSize="small"
                       placeholder="{{'do-write' | transloco}}" />


                <div class="flex items-center  rtl:rotate-180">
                    <p-button
                        icon="fa-solid fa-paper-plane-top"
                        severity="contrast"
                        variant="text"
                        size="small"
                        [rounded]="true">
                    </p-button>
                </div>
            </div>
            <!-- End Footer-->

        </div>
    </ng-template>
</p-drawer>
<p-button icon="fa-regular fa-messages"
          severity="secondary"
          variant="outlined"
          (click)="opened = true">
</p-button>
