.p-drawer-content{
    overflow-y: hidden !important;
}
.drawer-header{
    height: 64px;
    @apply border-b-[1px] border-b-slate-300 dark:border-b-slate-600;
}

.drawer-footer{
    height: 64px;
    @apply border-t-[1px] border-t-slate-300 dark:border-t-slate-600;
}
