<div
    class="flex min-w-0 flex-auto flex-col items-center sm:flex-row sm:justify-center md:items-start md:justify-start"
>
    <div
        class="sm:bg-card w-full px-4 py-8 sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow md:flex md:h-full md:w-1/2 md:items-center md:justify-end md:rounded-none md:p-16 md:shadow-none"
    >
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
            <!-- Logo -->
            <div class="w-12">
                <img src="images/logo/logo.svg" />
            </div>

            <!-- Title -->
            <div
                class="mt-8 text-4xl font-extrabold leading-tight tracking-tight"
            >
                {{ 'signin' | transloco }}
            </div>
            <div class="mt-0.5 flex items-baseline font-medium">
                <div>{{ 'dont-have-account' | transloco }}</div>
                <a
                    class="ms-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-up']"
                >
                    {{ 'signup' | transloco }}
                </a>
            </div>
            <!-- Alert -->
            @if (showAlert) {
                <div class="mt-4">
                    <p-message
                        icon="fa-duotone fa-thin fa-triangle-exclamation"
                        severity="error"
                    >
                        {{ signInResultAlert }}
                    </p-message>
                </div>
            }

            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
                <!-- Username or Email field -->
                <div class="flex flex-col gap-1">
                    <p-icon-field>
                        <p-inputicon
                            styleClass="fa-duotone fa-regular fa-user"
                        />
                        <input
                            class="w-full"
                            pInputText
                            size="large"
                            formControlName="userNameOrEmailAddress"
                            placeholder="{{ 'username' | transloco }}"
                        />
                    </p-icon-field>
                    @if (usernameRequiredError) {
                        <p-message
                            severity="error"
                            variant="simple"
                            size="small"
                        >
                            {{ 'required-username' | transloco }}
                        </p-message>
                    }
                </div>

                <!-- Password field -->
                <div class="mt-4 flex flex-col gap-1">
                    <p-icon-field>
                        <p-inputicon
                            styleClass="fa-duotone fa-regular fa-lock"
                        />
                        <input
                            type="password"
                            class="w-full"
                            pInputText
                            size="large"
                            formControlName="password"
                            placeholder="{{ 'password' | transloco }}"
                        />
                    </p-icon-field>
                    @if (passwordRequiredError) {
                        <p-message
                            severity="error"
                            variant="simple"
                            size="small"
                        >{{ 'required-password' | transloco }}
                        </p-message>
                    }
                </div>

                <!-- Actions -->
                <div
                    class="my-4 inline-flex w-full items-center justify-between"
                >
                    <div class="flex items-center gap-2">
                        <p-checkbox
                            inputId="remember"
                            formControlName="rememberMe"
                            binary="true"
                        >
                        </p-checkbox>
                        <label for="remember" class="ms-2">{{
                                'remember-me' | transloco
                            }}</label>
                    </div>

                    <a
                        class="text-md font-medium text-primary-500 hover:underline"
                        [routerLink]="['/forgot-password']"
                    >
                        {{ 'forget-password' | transloco }}
                    </a>
                </div>

                <!-- Submit button -->

                <p-button
                    [disabled]="signInForm.disabled || signInForm.invalid"
                    (click)="signIn()"
                >
                    <span> {{ 'signin' | transloco }} </span>
                </p-button>
                <div class="mt-4 flex w-full items-center justify-center">
                    <languages></languages>
                </div>

                <!-- Separator -->
                <!--                <div class="mt-8 flex items-center">-->
                <!--                    <div class="mt-px flex-auto border-t"></div>-->
                <!--                    <div class="text-secondary mx-2">Or continue with</div>-->
                <!--                    <div class="mt-px flex-auto border-t"></div>-->
                <!--                </div>-->

                <!-- Single sign-on buttons -->
                <!--                <div class="mt-8 flex items-center gap-4">-->
                <!--                    <button class="flex-auto" type="button" mat-stroked-button>-->
                <!--                        <mat-icon-->
                <!--                            class="icon-size-5"-->
                <!--                            [svgIcon]="'feather:facebook'"-->
                <!--                        ></mat-icon>-->
                <!--                    </button>-->
                <!--                    <button class="flex-auto" type="button" mat-stroked-button>-->
                <!--                        <mat-icon-->
                <!--                            class="icon-size-5"-->
                <!--                            [svgIcon]="'feather:twitter'"-->
                <!--                        ></mat-icon>-->
                <!--                    </button>-->
                <!--                    <button class="flex-auto" type="button" mat-stroked-button>-->
                <!--                        <mat-icon-->
                <!--                            class="icon-size-5"-->
                <!--                            [svgIcon]="'feather:github'"-->
                <!--                        ></mat-icon>-->
                <!--                    </button>-->
                <!--                </div>-->
            </form>
        </div>
    </div>
    <div
        class="relative hidden h-full w-1/2 flex-auto items-center justify-center overflow-hidden bg-gray-800 p-16 md:flex lg:px-28 dark:border-l"
    >
        <auth-base-part></auth-base-part>
    </div>
</div>
