<div class="flex min-w-0 flex-auto flex-col">
    <p-tree
        [filter]="true"
        filterPlaceholder="جستجو..."
        [value]="basedata"
        styleClass="w-full md:w-[30rem]"
        selectionMode="single"
    >
        <ng-template let-node pTemplate="parent">
            <div class="flex items-center justify-between gap-2">
                @if (node.expanded) {

                    <i class="fa-solid fa-folder-open text-amber-500"></i>
                } @else {
                    <i class="fa-solid fa-folder text-amber-500"></i>
                }
                <span class="font-bold"> {{ node.label }}</span>
                <p-button
                    icon="fa-regular fa-plus"
                    size="small"
                    tooltipPosition="top"
                    severity="info"
                    variant="text"
                    pTooltip="افزودن زیرمجموعه"
                    (click)="showInsertDialog(node)"
                ></p-button>
            </div>
        </ng-template>

        <ng-template let-node pTemplate="child">
            <div
                class="childItem flex w-full items-center justify-between gap-2"
            >
                <span> {{ node.label }}</span>

                <p-button
                    class="childAction"
                    icon="fa-regular fa-pen-to-square"
                    (click)="showDetailsDialog(node)"
                    severity="secondary"
                    size="small"
                    variant="text"
                >
                </p-button>
            </div>
        </ng-template>
    </p-tree>
</div>


<!--Details Dialog-->
<p-dialog
    resizable="false"
    draggable="false"
    [modal]="true"
    header="ویرایش یا حذف عنوان"
    [(visible)]="visibleDetailsDialog"
    [style]="{ width: '25rem' }"
>
    <input
        class="mb-4 w-full"
        pInputText
        id="title"
        [(ngModel)]="editingTitle"
        autocomplete="off"
        placeholder="عنوان"
    />

    <div class="flex justify-end gap-1">
        <p-button
            label="ویرایش"
            severity="primary"
            variant="outlined"
            (click)="ApplyUpdate()"
            size="small"
        />
        <p-button
            label="حذف"
            severity="danger"
            variant="outlined"
            (click)="ApplyDelete()"
            size="small"
        />
    </div>
</p-dialog>

<!--Insert Dialog-->
<p-dialog
    resizable="false"
    draggable="false"
    header="افزودن زیر مجموعه"
    [modal]="true"
    [(visible)]="visibleInsertDialog"
    [style]="{ width: '25rem' }"
>
    <input
        class="mb-4 w-full"
        pInputText
        id="title"
        [(ngModel)]="newTitle"
        autocomplete="off"
        placeholder="عنوان"
    />

    <div class="flex justify-end">
        <p-button
            label="افزودن"
            severity="primary"
            (click)="ApplyInsert()"
            size="small"
        />
    </div>
</p-dialog>
