<p-select size="small" [options]="availableLangs" sele (onChange)="setActiveLang($event)" [(ngModel)]="activeLang"
          optionLabel="label"
          [placeholder]="('select-language'|transloco)"
          class="">
    <ng-template #selectedItem let-selectedOption>
        @if (activeLang) {
            <div class="flex items-center gap-2">
                <img
                    class="w-5"
                    [src]="'images/flags/' + selectedOption.id.toUpperCase() + '.svg'"
                    alt="Flag"
                >

                <div class="flag flag-us"></div>
                <div>{{ selectedOption.label }}</div>
            </div>
        }
    </ng-template>
    <ng-template let-country #item>
        <div class=" flex items-center gap-2">

            <img
                class="w-5"
                [src]="'images/flags/' + country.id.toUpperCase() + '.svg'"
                alt="Flag"
            >

            <div>{{ country.label }}</div>
        </div>
    </ng-template>
    <ng-template #dropdownicon>
        <i class="fa-duotone fa-light fa-earth-americas"></i>
    </ng-template>

</p-select>

